
<!DOCTYPE html>
<html>
<head>
    <title>Orness-IbanFirst</title>
    <link rel="stylesheet" href="static/style.css">
    <div class="head-div">
        <h2>Création d'un nouveau Bénéficiare</h2>
        </div>
</head>
<body>
    
    <div class="container-ext">
        <div class="extitem">
            <form method="POST" >
                <fieldset id="holderBankInfo">
                <legend>Informations bancaires</legend>
                
                <label for="bic">BIC/SWIFT</label>
                <input type="text" id="bic" name="bic" placeholder="Entrez le BIC/SWIFT"><br><br>
                <label for="bankname">Nom de la banque</label>
                <input type="text" id="bankname" name="bankname" placeholder="Entrez le nom de la banque"><br><br>
                <label for="clearingcodetype">Type de code de compensation</label>
                <input type="text" id="clearingcodetype" name="clearingcodetype" placeholder="Entrez le type de code de compensation"><br><br>
                <label for="clearingcode">Code de compensation</label>
                <input type="text" id="clearingcode" name="clearingcode" placeholder="Entrez le code de compensation"><br><br>
                <label for="bankadress">Adresse de la banque</label>    
                <input type="text" id="bankadress" name="bankadress" placeholder="Entrez l'adresse de la banque"><br><br>
                <label for="bankcity">Ville de la banque</label>
                <input type="text" id="bankcity" name="bankcity" placeholder="Entrez la ville de la banque"><br><br>
                <label for="bankcountry">Pays de la banque</label>
                <input type="text" id="bankcountry" name="bankcountry" placeholder="Entrez le pays de la banque"><br><br>
                <label for="bankpostalCode">Code postal de la banque</label>
                <input type="text" id="bankpostalCode" name="bankpostalCode" placeholder="Entrez le code postal de la banque"><br><br>
                </fieldset>
              

        </form>
    </div>
   
       
        <div class="extitem">
        <form method="POST" >
        <fieldset id="holderInfo">
        <legend>Informations du titulaire</legend>
        <label for="holderName">Nom du titulaire</label>
        <input type="text" id="holderName" name="holderName" placeholder="Entrez le nom du titulaire"><br><br>
        <label for="holderAddress">Adresse du titulaire</label>
        <input type="text" id="holderAddress" name="holderAddress" placeholder="Entrez l'adresse du titulaire"><br><br>
        <label for="holderCity">Ville du titulaire</label>
        <input type="text" id="holderCity" name="holderCity" placeholder="Entrez la ville du titulaire"><br><br>
        <label for="holderCountry">Pays du titulaire</label>
        <input type="text" id="holderCountry" name="holderCountry" placeholder="Entrez le pays du titulaire"><br><br>
        <label for="holderPostalCode">Code postal du titulaire</label>
        <input type="text" id="holderPostalCode" name="holderPostalCode" placeholder="Entrez le code postal du titulaire"><br><br>
        <label for="holdertype">Type de titulaire</label>
        <input type="text" id="holdertype" name="holdertype" placeholder="corporate or individual"><br><br><br><br><br><br><br><br>
        </fieldset>
        </form>
        </div>
        
        
    
    <form method="POST">
        <div class="extitem">
            <fieldset id="accountInfo">
            <legend>Informations du compte</legend>

            <label for="iban">IBAN</label><br>
            <input type="text" id="iban" name="iban" placeholder="Entrez l'IBAN"><br><br>
            <label for="currency">Devise</label>
            <input type="text" id="currency" name="currency" placeholder="Entrez la devise"><br><br>
            <label for="tag"> Libellé</label>
            <input type="text" id="tag" name="tag"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </fieldset>
        </div>
        </form>


    </div>

    
    
    </div>
    <div class="container-ext">
    <form method="POST">
        <input type="file" name="file" id="createaccount"> <input type="submit" value="Créer">   
    </form>
    
        
    
    </div>
    
</body>
</html>