<!DOCTYPE html>
<html>
<head>
    <title>Orness-IbanFirst</title>
        <link rel="stylesheet" href="static/style.css">
        <div class="head-div">
            <h2>Transfert</h2>
        </div>
</head>
    <body>
        
        
        <div  id="wallet_list" class="container">   
            
            <form method="POST">
            
                <h2> Comptes </h2><br>
                {% if wallets_list %}
                {% for wallet in wallets_list%}
                
                <div  style="color: rgb(128, 128, 131);" class="wallet">
                    <h2>{{ wallet['amountCurrency'] }}</h2>
                    Compte: {{ wallet['holderName'] }}  <br>         
                    IBAN: {{ wallet['holderIBAN'] }}
                    <p style="color: deeppink;">Solde: {{ wallet['amountValue'] }}</p>
                    <input type="checkbox" value={{ wallet['holderIBAN'] }} id="source_Id" name="source_Id" class="single-select" >
                </div>
                {% endfor %}
                {% endif %}
                <script>
                    const checkboxes = document.querySelectorAll('.single-select');
                
                    checkboxes.forEach(checkbox => {
                        checkbox.addEventListener('change', function() {
                            if (this.checked) {
                                checkboxes.forEach(otherCheckbox => {
                                    if (otherCheckbox !== this) {
                                        otherCheckbox.checked = false;
                                    }
                                });
                            }
                        });
                    });
                </script>
                
                <div>
                
                <h2> Bénéficiaire </h2><br>
                
                    <div class="wallet" style="height: 80px;">
                        <input style="width: 90%;" list="holderiban" type="text" autocomplete="on" name="ext_iban" id="ext_iban" ></input> <br><br>
                        <datalist id="holderiban" style="color: rgb(105, 105, 102);" class="external_iban" ></select>
                        {% if extern %}
                        {% for ext in extern %}
                        
                            <option id="recipient" id="choice_ext_iban" name="choice_ext_iban" value="{{ ext['holderIBAN'] }}"> <p>Compte: {{ ext['holderName'] }} > IBAN: {{ ext['holderIBAN'] }}</p></option>
                        
                        {% endfor %}
                        {% endif %}
                        </datalist>
                        <a href="/create_exteral_bank_account" style="color: black; border-bottom: 1px solid black; background-color: rgb(16, 214, 214);">Créer un bénéficiaire</a>
                    </div>
                    
                </div>
        
        
            
            <label for="amount">Montant :</label>
            <input type="number" id="amount" name="amount" required><br><br>
        
            <label for="tag"> Libélé      :</label>
            <input type="text" id="tag" name="tag"><br><br>
            
            <label for="date">Date désirée :</label>
            <input type="date" id="date" name="date" ><br><br>
            <label for="urgency">Urgence :</label>
            <select id="urgency" name="urgency">
                <option value="Urgent">Urgent</option>
                <option value="Normal">Normal</option>
                <option value="Différé">Différé</option>
            </select><br><br>
            <label for="fees">Transaction à la charge de</label>
            <select id="who_pay_fees" name="who_pay_fees">
                <option value="OUR">Nous</option>
                <option value="SHARE">Partagé</option>
                <option value="BEN">Bénéficiaire</option>
            </select>
            
            <label for="comment">Commentaire :</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br><br>

            <div class="container-child">
                <label for="pay_file">Inserez un tableau excel :</label>
                <input type="file" name="file" id="pay_file">  
        
                <input type="submit" value="Envoyer">
            </div>
            

        
            </form>
        
        
            <div id="result">
                
                
                    {% if result  and typo == "dict" %}
                    
                    <p>Le transfert a été effectué avec succès</p>
                    
                    {% endif %}
                    {% if result == 0 %}
                    <p>Le transfert a échoué. Fond insuffisant</p>
                    
                    {% endif %}
                    {% if result == 1 %}
                    <p>Le transfert a échoué. Urgence: {{ data['Priorité'] }} n'est pas possible pour compte</p>
                    {% endif %}
                    
                

            </div>
                
        
            <div class="container-two" >
                <caption> Historique des transferts </caption> 
                <div class="table" >   
                <table id="histo">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Expéditeur</th>
                        <th>Bénéficiaire</th>
                        <th>Montant</th>
                        <th>Taux</th>
                        <th>Date de Création</th>
                        <th>Communication</th>
                        <th>Contre valeur</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                    <tbody>
                    {% if history %}
                    {% for hist in history %}
                    <tr>
                        <td>{{ hist['id'] }}</td>
                        <td>{{ hist['sourceWalletId'] }}</td>
                        <td>{{ hist['externalBankAccountId'] }}</td>
                        <td>{{ hist['amount']['value'] }}  {{ hist['amount']['currency'] }}</td>
                        <td>{{ hist['rate']['appliedBid'] }}  {{ hist['rate']['currencyPair'] }}</td>
                        <td>{{ hist['createdDate'] }}</td>
                        <td>{{ hist['communication'] }}</td>
                        <td>{{ hist['counterValue']['value'] }}  {{ hist['counterValue']['currency'] }}</td>
                        <td>{{ hist['status'] }}</td>
                        <td><input type="button" value="X" name="delete_payment"><input type="button" style="padding-left: 0; padding-right: 0;" value="&#9989;" name="validate_pay"></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </thead>
                </table>
                </div>
            
            </div>
        </div>
        

    </body>
</html>