<!DOCTYPE html>
<html>
<head>
    <title>Orness-IbanFirst</title>
    <link rel="stylesheet" href="static/style.css">
    <div class="head-div">
        <h2>Transfert</h2>
        </div>
</head>
<body>
    
    <div class="container">
        
    <form method="POST">
        
        <label for="source_account">Expéditeur:</label>
        <input type="text" id="source_account" name="source_account" placeholder="Entrez votre IBAN"><br><br>
        
        <label for="recipient">Benéficiaire :</label>
        {%if extern %}
        <select id="recipient" name="recipient"  > 
            {% for recip in extern %}
            <option  value="{{ recip['holderIBAN'] }}">{{ recip['holderIBAN'] }}</option>
            {% endfor %}
        
        </select><br><br>
        {% endif %}
        
        
        <a href="/create_exteral_bank_account">Créer un bénéficiaire</a><br><br>
        
        <label for="amount">Montant :</label>
        <input type="number" id="amount" name="amount" required><br><br>
       
        <label for="tag"> Libélé      :</label>
        <input type="text" id="tag" name="tag"><br><br>
        
        <label for="date">Date désirée :</label>
        <input type="date" id="date" name="date" ><br><br>
        <label for="urgency">Urgence :</label>
        <select id="urgency" name="urgency">
            <option value="Urgent">Urgent</option>
            <option value="Normal">Normal</option>
            <option value="Différé">Différé</option>
        </select><br><br>
          
        <label for="comment">Commentaire :</label><br>
        <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br><br>
        <div>
        <label for="pay_file">Inserez un tableau excel :</label>
        <input type="file" name="file" id="pay_file">  
   
        <input type="submit" value="Envoyer">
        </div>
        
    </form>
    
    
    
    
    <div id="result">
        
        
            {% if result  and typo == "dict" %}
            <!-- Bénéficiaire :{{ data['Bénéficiaire'] }}<br><br>Montant : {{ data['Montant'] }} <br><br>
            Expéditeur: {{ data['Compte Emetteur'] }}<br><br> Date: {{ result['desiredExecutionDate']}}<br><br>
            Urgence: {{ result['priorityPaymentOption'] }}<br><br> Commentaire: {{ result['communication'] }}<br><br>
             -->
            <p>Le transfert a été effectué avec succès</p>
            
            {% endif %}
            {% if result == 0 %}
            <p>Le transfert a échoué. Fond insuffisant</p>
            
            {% endif %}
            {% if result == 1 %}
            <p>Le transfert a échoué. Urgence: {{ data['Priorité'] }} n'est pas possible pour compte</p>
            {% endif %}
            
         

        </div>
    </div>
    <div class="container-two" >
        <caption> Historique des transferts </caption> 
        <div class="table" >
            
        <table id="histo">
            <thead>
            <tr>
                <th>ID</th>
                <th>Expéditeur</th>
                <th>Bénéficiaire</th>
                <th>Montant</th>
                <th>Taux</th>
                <th>Date de Création</th>
                <th>Communication</th>
                <th>Contre valeur</th>
                <th>Statut</th>
            </tr>
            <tbody>
            {% if history %}
            {% for hist in history %}
            <tr>
                <td>{{ hist['id'] }}</td>
                <td>{{ hist['sourceWalletId'] }}</td>
                <td>{{ hist['externalBankAccountId'] }}</td>
                <td>{{ hist['amount']['value'] }}  {{ hist['amount']['currency'] }}</td>
                <td>{{ hist['rate']['appliedBid'] }}  {{ hist['rate']['currencyPair'] }}</td>
                <td>{{ hist['createdDate'] }}</td>
                <td>{{ hist['communication'] }}</td>
                <td>{{ hist['counterValue']['value'] }}  {{ hist['counterValue']['currency'] }}</td>
                <td>{{ hist['status'] }}</td>
            </tr>
            {% endfor %}
            {% endif %}
            </thead>
        </table>
        </div>
    
    </div>
    
    
</body>
</html>