body {

font-family: Arial, sans-serif;

}
.container {
margin: 0 auto;
width: 80%;
padding: 10px;

border-right: 1px solid rgb(228, 220, 220);
border-left: 1px solid rgb(228, 220, 220);
display: flex;
gap: 10px;

justify-content: center;
flex-shrink: 1;

}
.container-home{
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    
    border-right: 1px solid rgb(228, 220, 220);
    border-left: 1px solid rgb(228, 220, 220);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    
    }
input[type="password"] {
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.container-child { 
    display: flex;
    gap: 3px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}
.left-column {
border: 1px solid rgb(39, 236, 243);
background-color: #09f0d1;
width: 55%;
margin: 0 0 0 auto;

padding: 20px;

}
.enter-div{
    max-width: 2px;
}
.right-column {
background-color: blueviolet;
padding: 20px;
margin: 0px, 20px;
}
.head-div{
    background-color: palevioletred;
}
input[type="text"] {    
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type="list"] {    
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type="submit"] {
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="number"] {    
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
textarea {
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
select {
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[tpye="date"] {
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type="time"] {
    width: 90%;
    padding: 2px 2px;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.container-two {
    overflow: scroll;
    margin: 0 auto;
    width: 80%;
    padding: 2px;
    background-color: #fcffff;
    
    border-right: 1px solid rgb(228, 220, 220);
    border-left: 1px solid rgb(228, 220, 220);
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;

}
/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    
    border-top: 1px solid rgb(241, 225, 241);
    border-bottom: 1px solid rgb(241, 225, 241);

  }
  
  thead th:nth-child(1) {
    width: 10%;
    
  }
  
  thead th:nth-child(2) {
    width: 10%;
  }
  
  thead th:nth-child(3) {
    width: 10%;
  }
  
  thead th:nth-child(4) {
    width: 10%;
  }
  
  th,
  td {
    padding: 2px;
  }
  th {
    font-size: small;   
  }
  
