{% extends "base.html" %}
{% block content %}
<script>
    const home = document.getElementById("home");
    const login = document.getElementById("login");
    const signup = document.getElementById("signup");
    login.style.display = "none";
    signup.style.display = "none";
</script>

<div id="div-hist" class="box" >   
    <caption > History of transactions </caption> 
<table  class= "table" id="histo">
    <thead>
    <tr>
        <th>ID</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Amount</th>
        <th>Rate</th>
        <th>Creation Date</th>
        <th>Comment</th>
        <th>Counter Value</th>
        <th>Status</th>
        
    </tr>
    <tbody>
    {% if history %}
    {% for hist in history %}
    <tr>
        <td>{{ hist['id'] }}</td>
        <td>{{ hist['sourceWalletId'] }}</td>
        <td>{{ hist['externalBankAccountId'] }}</td>
        <td>{{ hist['amount']['value'] }}  {{ hist['amount']['currency'] }}</td>
        <td>{{ hist['rate']['appliedBid'] }}  {{ hist['rate']['currencyPair'] }}</td>
        <td>{{ hist['createdDate'] }}</td>
        <td>{{ hist['communication'] }}</td>
        <td>{{ hist['counterValue']['value'] }}  {{ hist['counterValue']['currency'] }}</td>
        <td>{{ hist['status'] }}</td>
<!-- 
        <td><input type="button" value="X" name="delete_payment"><input type="button" style="padding-left: 0; padding-right: 0;" value="&#128394;;" name="validate_pay"></td> -->
    </tr>
    {% endfor %}
    {% endif %}
    {% if plan %}
       {% for  planif in plan %}
    <tr>
        <td>{{ planif['id'] }}</td>
        <td>{{ planif['sourceWalletId'] }}</td>
        <td>{{ planif['externalBankAccountId'] }}</td>
        <td>{{ planif['amount']['value'] }}  {{ planif['amount']['currency'] }}</td>
        <td>{{ planif['rate']['appliedBid'] }}  {{ planif['rate']['currencyPair'] }}</td>
        <td>{{ planif['createdDate'] }}</td>
        <td>{{ planif['communication'] }}</td>
        <td>{{ planif['counterValue']['value'] }}  {{ planif['counterValue']['currency'] }}</td>
        <td>{{ planif['status'] }}</td>
        <!-- <td><input type="button" value="X" name="delete_payment"> <input type="button" style="padding-left: 0; padding-right: 0;" value="&#128394;;" name="Edit"></td> -->
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
    </thead>
</table>
</div>
{% endblock %}


<script>
function limiterLignesTableau(tableauId, nombreMax) {
    const tableau = document.getElementById(tableauId);
    const lignes = tableau.getElementsByTagName('tr');
    for (let i = nombreMax + 1; i < lignes.length; i++) {
        lignes[i].style.display = 'none';
    }
}
 // Limiter à 5 lignes (en-tête inclus)
 limiterLignesTableau('histo', 15);

</script>
